@use './variables' as vars;

.calc-display {
  width: 100%;
  height: 20%;
  background-color: lighten(vars.$digit-key-color, 10);
  border: 1px solid black;
  font-size: 10vh;
  font-weight: lighter;
  color: vars.$font-dark;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  > div {
    padding: 5%;
  }
}